<!DOCTYPE html>
<html>
  <head>
    <title>Brackets+!</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body>
    <header>
      <h1>Brackets+!</h1>
    </header>
    <div class="container">
      <h2>!+{}[]()</h2>
      <textarea class="text-input-output" id="textSection"></textarea>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button  mdl-js-ripple-effect" id="compileToBrackets">
        Compile
      </button>
      <div class="compiled text-input-output" id="resultOutput">
        
      </div>
    </div>
    <script type="text/javascript" src="js/compiler.js"></script>
  </body>
</html>